body{
    color: white;
    text-align: center;
}

#background{
    overflow: auto;
    position: relative;
}

#background::before {
    content: "";
    position: fixed;
    left: -5%;
    top: -5%;
    right: 0;
    z-index: -1;
    display:block;
    background: url(./images/baseballFieldBackground.jpg);
    background-size: cover;
    background-repeat: round;
    background-attachment: fixed;
    height: 110%;
    width: 110%;
    filter: blur(2px);
}

/* this will be used to start the game when teams are selected... need some fun animation to introduce the teams */
/* .game-board-hidden {
    display: none
} */

button {
    font-family: monospace, 'Notable', 'Press Start 2P', cursive;
}

#header{
    text-align: center;
}

.instructions{
    display: flex;
    font-size: 20px;
}

#main-logo-image{
    width: 100%;
    height: auto;
    max-width: 425px;
}

#choose-team-instructions {
    color: yellow;
    text-shadow: 2px 2px darkgreen;
    font-size: 22px;
    margin: 4px;
}

#play-ball, .action-button {
    background-color: darkgreen;
    color: yellow;
    text-shadow: 1px 1px black;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 40%);
}

#image-row{
    display: flex;
    justify-content: center;
    flex-wrap: none;
    flex-direction: row;
    align-items: center;
}

.player-pics{
    width: 20%;
}

.team-search{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* scoreboard area */
#container{
    display: flex;
    width: 100%;
    height: 100%;
}

.scoreboard{
    display: grid;
    margin: 20px auto;
    grid-template-columns: 20% 10% 40% 10% 20%;
    grid-template-rows: 40% 40% 20%;
    width: 500px;
    height: 300px;
    border: 1px  rgb(0, 80, 0) solid;
    background-color: darkgreen;
    color: white;
    box-shadow: 0px 0px 9px 7px rgba(0, 0, 0, 0.4);
}

#away-team{
    border: 1px solid transparent;
    border-right: 1px solid  rgb(0, 80, 0);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#away-score{
    border: 1px solid transparent;
    border-right: 1px solid  rgb(0, 80, 0);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#home-team{
    border: 1px solid transparent;
    border-top: 1px solid  rgb(0, 80, 0);
    border-right: 1px solid  rgb(0, 80, 0);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#home-score{
    border: 1px solid transparent;
    border-top: 1px solid  rgb(0, 80, 0);
    border-right: 1px solid  rgb(0, 80, 0);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#outs{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid transparent;
    border-top: 1px solid  rgb(0, 80, 0);
    border-right: 1px solid rgb(0, 80, 0);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#diamond{
    border: 1px solid  rgb(0, 80, 0);
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

#balls{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid transparent;
    border-top: 1px solid  rgb(0, 80, 0);
    border-right: 1px solid rgb(0, 80, 0);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#inning{
    border: 1px solid transparent;
    border-left: 1px solid rgb(0, 80, 0);    
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

#strikes{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid transparent;
    border-top: 1px solid  rgb(0, 80, 0);
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

#home-image, #away-image{
    width: 95px;
    height: 95px;
    margin: 10px 0;
}

#top-triangle{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid yellow;
    margin: 10px auto 0;
}

.triangle-top-empty{
    position: relative;
    top: 4px;
    left: -22px;
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 44px solid darkgreen;
}

#inning-number{
    height: 50%;
    font-size: 6em;
    text-align: center;
    color: yellow;
}

#home-score, #away-score{
    text-align: center;
    color: white;
    font-size: 3em;
    padding-top: 28px;
}

#bottom-triangle{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid yellow;
    margin: auto;
}

.triangle-bottom-empty{
    position: relative;
    top: -48px;
    left: -22px;
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 44px solid darkgreen;
}

.counter-label{
    padding: 4px;
}

.counter-dot{
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    margin: auto;
}

.counter-dot-empty{
    height: 23px;
    width: 23px;
    border: 1px solid yellow;
    border-radius: 50%;
    margin: auto;
}

#diamond{
    width: 65%;
    height: 65%;
    color: darkgreen;
    border: 2px solid yellow;
    transform: rotate(45deg);
    margin: 42px;
}

.base {
    width: 10px;
    height: 10px;
    border: 3px solid yellow;
}

.base-on{
    width: 10px;
    height: 10px;
    border: 3px solid yellow;
    background: yellow;
}

#first-base{
    margin-left: 147px;
}

#second-base{
    margin-top: -16px;
}

#third-base{
    margin-top: 124px;
}

#home-plate{
    margin: -16px 0 0 147px;
}

#actions {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: auto;
    border: rgb(0, 80, 0) 1px solid;
    background-color: darkgreen;
    box-shadow: 0px 0px 9px 7px rgba(0, 0, 0, 0.4);
}

#actions-div-pitches{
    border: darkgreen 1px solid;
}

#actions-div-hits{
    border: darkgreen 1px solid;
}

#actions-div-pitches, #actions-div-hits{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

#hits-image, #pitches-image {
    width: 100%;
    margin: 10px auto;
}

#hits-image {
    height: 106.7px;
    margin-bottom: 23px;
}

button{
    margin: 10px;
}

.hit, .pitch {
    width: 110px;
}

#sound-controls{
    width: 500px;
    margin: auto;
}

@media (max-width: 550px){

    h1{
        font-size: 1em;
    }

    button{
        font-size: 8px;
    }

    #choose-team-instructions {
        font-size: 14px;
        margin: 8px auto -15px;
    }

    .team-search{
        display: block;
    }

    #home-team-search, #away-team-search{
        width: 85px;
    }

    #home-search-button, #away-search-button{
        height: 21px;
        width: 93px;
    }

    .scoreboard{
        width: 250px;
        height: 150px;
    }

    #home-image, #away-image{
        width: 47px;
        height: 47px;
        margin: 6px 0;
    }
    #home-score, #away-score{
        font-size: 1.5em;
        padding-top: 15px;
    }

    .counter-label{
        padding: 0px;
        margin-top: 8px;
    }

    .counter-dot-empty{
        height: 10px;
        width: 10px;
        margin: 8px 1px;
    }

    .counter-dot{
        height: 10px;
        width: 10px;
        margin: auto 2px;
    }

    p.counter-label{
        font-size: 10px;
    }

    .base{
        width: 7px;
        height: 7px;
        border: 2px solid yellow;
    }

    #diamond{
        margin: 15%;
    }

    #first-base{
        margin-left: 70px;
    }

    #second-base{
        margin-top: -11px;
    }

    #third-base{
        margin-top: 56px;
    }

    #home-plate{
        margin: -11px 0 0 70px;
    }

    #inning-number{
        font-size: 3em;
        margin-top: 7px;
    }

    #bottom-triangle{
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 16px solid yellow;
    }
    
    #top-triangle{
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 16px solid yellow;
    }
    
    .triangle-top-empty{
        top: 2px;
        left: -8px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 13px solid darkgreen;
    }

    .triangle-bottom-empty{
        top: -15px;
        left: -8px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 13px solid darkgreen;
    }

    .base-on{
        width: 5px;
        height: 5px;
    }

    #actions {
        width: 250px;
        height: auto;
        margin: auto;
    }

    #hits-image{
        height: 52.81px;
        margin-bottom: 21px;
    }

    .hit, .pitch {
        width: 75px;
    }

    #sound-controls{
        width: 250px;
        margin: auto;
    }
}